@import "_vars";


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 400;
}
button{
    cursor: pointer;
}
input{
    appearance: none;
}
body{
    font-family: $Root,sans-serif;
    color: $black;
    font-size: 16px;
    line-height: 24px;
}
a:hover{
    text-decoration: none;
}
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 .main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
    // @include for-md{
    //     margin-top: 68px;
    // }
    // @include for-md-mob{
    //     margin-top: 63px;
    // }
 }
 
 .bottom-blocks{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
.baguetteBox-button{
    svg{
        g{
            stroke: $blue !important;
        }
    }
    polyline{
        stroke: $blue !important;
    }
}
 .wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    @include for-md{
    }
    
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1230px;
    max-width: 1180px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
    // color: $white;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content:center;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 8.5px 20px;
    transition: $transition;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    &--upper{
        text-transform: uppercase;
    }
    &--gradient{
        background: linear-gradient(270deg, rgba(0,127,194,1) 0%, rgba(229,127,188,1) 100%);

        position: relative;
        z-index: 2;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(229,127,188,1)  0%,   rgba(0,127,194,1) 100%);
            opacity: 0;
            transition: 0.3s;
            border-radius: 40px;
            z-index: -1;
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }

        &:active{
           &:before{
                opacity: .7;
           }
        }
        
    }
    &--transparent{

        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
        padding: 11px 40px;
        border-radius: 25px;
        &:hover{
        background-color: $blue;
        color: $white;
        }
        &:active{
        background-color: $purple;
        color: $white;
        border-color: $purple;
        }
        }
    &--blue{
        background-color: $blue;
        color: $white;
        &:hover{
            background-color: $purple_light;
        }
        &:active{
            background-color: $purple;
        }
    }
    &--pink{
        background-color: $pink;
        color: $white;
        &:hover{
            background-color: $purple_light;
        }
        &:active{
            background-color: $purple;
        }
    }
    &--medium{
        font-weight: 500;
    }
    &--bold{
        font-weight: 700;
    }
    &--border-dark-blue{
        background-color: transparent;
        color: $dark_blue;
        border: 1px solid $dark_blue;
        padding: 11px 40px;
        color: $dark_blue;
        border-radius: 25px;
        &:hover{
        background-color: $blue;
        color: $white;
        border-color: $blue;
        }
        &:active{
        background-color: $purple;
        color: $white;
        border-color: $purple;
        }
    }
    &--purple{
        background-color: $purple_border;
        color: $white;
        border-color: $purple_border;

        &:hover{
            background-color: $blue;
            color: $white;
        }
        &:active{
            background-color: $dark_blue;
            color: $white;
        }
    }

}

.page-title{
    position: relative;
    font-weight: 700;
    margin-top:30px;
    font-size: 42px;
    line-height: 40px;
    color: $dark_blue;
    text-align: center;
    &__btn{
        position: absolute;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin-left: 100px;
        top: 5px;
        padding: 7px 20px;
        @include for-lg{
            margin-left: 40px;
        }
        @include for-md{
            position: relative;
            margin-top: 20px;
            margin-left: 0;
            top: 0;
        }
    }
    @include for-md{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include for-md-mob{
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 42px;
        font-weight: 400;
    }
}

.breadcrumbs{  
    &--bg-grey{
        background-color: #f9f9f9;
        padding-top: 10px;
        margin-top: 0;
    }
    @include for-md{
        display: none;
    }
    &__nav{
        margin-top: 10px;
    } 
    ul{
        display: flex;
        align-items: center;
    }
    li{
        font-size: 12px;
        line-height: 14px;
        color: #CC79A3;
        &::after{
            content: '/';
            padding: 0 3px;
        }
        &:last-child{
            color: #97416D;
            &::after{
                display: none;
            }
        }
        
    }
    li+li{
        margin-left: 3px;
    }
}

.content-block{
    max-width: 754px;
    margin: 0 auto;
    &--border-right{
        margin: 32px 0;
        padding: 30px 0;
        background-color: #F9F9F9;
    }
    h4{
        margin-top: 2em;
        margin-bottom: 1em;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
    p+p{
        margin-top: 21px;
    }
    &__btn-block{
        display: flex;
        margin-top: 32px;
        justify-content: center;
        @include for-md-mob{
            display: none;
        }
        
    }
    &__btn{
        text-decoration: none !important;
        padding: 12px 40px;
        border-radius: 25px;
        
    }
}

.section-page{
    margin-bottom: 80px;
    @include for-md-mob{
        margin-bottom: 60px;
    }
}

.content-slider{
    overflow: visible !important;
    &__arrows{
        display: flex;
        align-items: center;
        margin-left: 24px;
        @include for-md{
            margin-left: 0; 
            margin-top: 22px;
            width: 100%;
            justify-content: space-between; 
        }
        @include for-md-mob{
            margin-top: 26px;
        }
    }
    &__arrow{
        position: relative;
        height: 28px;
        cursor: pointer;
        @include for-md(){
            height: 38px;
            width: 20px;
        }
        .icon{
            width: 14px;
            height: 28px;
            stroke: $dark_blue;
            transition: .3s;
            @include for-md(){
                height: 100%;
                width: 100%;
            }
        }
        &::before{
            content: '';
            position: absolute;
            width: 64px;
            height: 1px;
            background-color: $dark_blue;
            top: 50%;            
            transform: translateY(-50%);
            @include for-md{
                width: 53px;
                z-index: -1;
            }
        }
        &:hover{
            .icon{
                stroke: $pink;
            }
        }
        &:active{
            .icon{
                stroke: $purple;
            }
        }
    }
    &__arrow-left{
        &::before{
            left: 16px;
        }
    }
    &__arrow-right{
        margin-left: 68px;
        &::before{
            right: 16px;
        }
        @include for-md{
            margin-left: 0;
        }
    }
    
}

.photo-block{
    margin: 32px 0;
    padding: 30px 0;
    background-color: #F9F9F9;
    &__img-block{
        max-width: 558px;
        margin: 0 auto;
    }
    &__img{
        display: block;
        width:  100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}

.insert-text{
    margin: 32px 0;
    padding: 30px 0;
    background-color: #F9F9F9;
    p{
        position: relative;
        padding-left: 26px;
        margin: 0 auto;
        max-width: 650px;
        border-left: 4px solid $blue;
        font-size: 26px;
        line-height: 32px;
        font-weight: 300;
        color: $dark_blue;
        @include for-sm{
            margin-left: 24px;
            margin-right: 11px;
        }
    }
}

.date{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
    @include for-md-mob{
        // padding-left: 13px;
    }
    &__icon {
        margin-right: 8px;
        width: 20px;
        height: 20px;
        fill: #999999;
        &--calendar{
            width: 18px;
            height: 18ppx;
        }
    }
}




.mfp-counter{
    display: none;
}
.mfp-close{
    color: $blue !important;
    font-size: 44px !important;
    opacity: 1 !important;
    right: -33px !important;
}
.mfp-arrow-left{
    width: 19px !important;
    height: 38px !important;
    margin-top: 0 !important;
    left: 4% !important;
    background-image: url(img/icons/gallery-prev.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    &::before{
        display: none !important;
    }
    &::after{
        display: none !important;
    }

}
.mfp-arrow-right{
    width: 19px !important;
    height: 38px !important;
    margin-top: 0 !important;
    right: 4% !important;
    background-image: url(img/icons/gallery-next.svg) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    &::before{
        display: none !important;
    }
    &::after{
        display: none !important;
    }

}


.show{
    display: flex !important;
}
.hide{
    display: none;
}
.slide{
    animation-name: slide;
    animation-duration: 0.3s;
}

@keyframes slide{
    from{height: 0;}
    to{height: 100%;}
}


// .fader-header{
//     animation: fade-header;
// }

// @keyframes{
//     0%{opacity: 1;}
//     50%{opacity: 0;}
//     100%{opacity: 1;}
// }


 /* global */
 .g-hidden { display: none; }
 .g-line { zoom: 1; }
 .g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 
 /* modal */
 .b-modal { position: relative; margin:0 auto; width:100%; max-width:1000px;}
 
 
 /* modal */
 .arcticmodal-overlay,
 .arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 11000; }
 .arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
 *:first-child+html .arcticmodal-container { height: 100% }
 .arcticmodal-container_i { height: 100%; margin: 0 auto; width:100%; }
 .arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle;
     @include for-tiny-tablet(){
         padding: 0;
     }
  }
 .arcticmodal-error { padding: 20px;  border-radius: 10px; background: #000; color: #fff; }


input::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; }
input::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; }
input:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease; }
textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease; }
textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
