$black: #565655;
$totalblack:#000;
$white: #fff;
$blue: #007FC2;
$blue_border:#80BFE2;
$blue_title:#356F91;
$dark_blue:#024B76;
$purple:#81028E;
$purple_light:#AD44B8;
$purple_border:#AE44B9;
$purple_border2:#BE69C7;
$light_grey:#F9F9F9;  
$light_pink:#DF7EB1;
$green: #218604;
$light_green:#D2F3D8;
$pink:#E6007C;
$dark_green:#565655;
$Root:"PT Root UI Web";
$politics_color:#A7A7A8;
$grey:#EBEBEB;
$grey2:#868786;
$preheader-color:#ECECEC;
$transition:.3s;
// $resolution: 1920;
// $resolution3:375;
// $resolution2:700;


// @function vw($px) {
//   @return (($px/$resolution) * 100)  + vw;
// }
// // @function vw-con($px) {
// //   @return (($px/$resolution) * 100)  + vw;
// // }
// @function vw2($px) {
//   @return (($px/$resolution2) * 100) + vw;
  
  
// }
// @function vw3($px) {
//   @return (($px/$resolution3) * 100)+vw;
// }

// @media screen and (max-height: 768px){
//   @function vw2($px) {
//     @return (($px/$resolution2) * 100) * 0.7 + vw;
      
//   }
// }




// @mixin for-xxl {
//   @media (max-width: 1805px) { @content; }
// }
// @mixin for-xl {
//     @media (min-width: 1024px) and (max-width: 1470px) { @content; }
//   }

@mixin for-xl {
    @media (max-width: 1450px) { @content; }
  }
@mixin for-lg {
    @media (max-width: 1100px) { @content; }
 }
//   @mixin for-lit-desktop {
//     @media (max-width: 1050px) { @content; }
//   }
//   @mixin for-md-desktop{
//     @media (min-width: 1025px) { @content; }
//   }
  @mixin for-md {
    @media (max-width: 1024px) { @content; }
    
  }
//   @mixin for-lit-md {
//     @media (max-width: 850px) { @content; }
//   }
  @mixin for-sm {
    @media (max-width: 768px) { @content; }
  }
  @mixin for-tiny-tablet {
    @media (max-width: 650px) { @content; }
  }
  @mixin for-md-mob{
    @media (max-width: 550px) { @content; }
  }
//   @mixin for-tiny-mob {
//     @media (max-width: 500px) { @content; }
//   }

//   @mixin for-min-mob {
//     @media (min-width: 650px) { @content; }
//   }
  @mixin for-lit-mob {
    @media (max-width: 370px) { @content; }
    }