@font-face {
    font-family: 'PT Root UI Web';
    src: url('PTRootUIWeb-Bold.woff2') format('woff2'),
        url('PTRootUIWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI Web';
    src: url('PTRootUIWeb-Light.woff2') format('woff2'),
        url('PTRootUIWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI Web';
    src: url('PTRootUIWeb-Regular.woff2') format('woff2'),
        url('PTRootUIWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI Web';
    src: url('PTRootUIWeb-Medium.woff2') format('woff2'),
        url('PTRootUIWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

